.navbar {
  height: 5vh;
  background:#08c5d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars {
  color: white;
}

.fa-xmark {
  color: white;
}
.menu-icon {
  display: none;
}

.navbar-logo {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}






.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: #08c5d6;
  color: white;
}


@media screen and (max-width: 960px) {

  .navbar {
    position: relative;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%,60%);
  font-size: 1.8rem;
  cursor: pointer;

}

}